h1 {
  color: #4CC9F0;
  text-align: center;
}

body {
  background-color: #3b034d;
  color: floralwhite;
}

h2 {
  font-family: cursive;
}

p {
  font-family: 'Times New Roman', Times, serif;
}

a {
  color: lavenderblush;
}

.skills {
  font-size: 20px;
}

.header-name {
  text-align: center;
}

.header-foto,
.header-texto {
  margin: 5px;
  display: inline-block;
}

.header-foto {
  padding: 10px;
  background-color: brown;
}

ul li:nth-child(odd) {
  font-style: italic;
  font-family: monospace;
}