h1 {
  color: #4CC9F0;
  text-align: center;
}
body {
 background-color:#3b034d;
 color:floralwhite;
}
h2 {
 font-family:cursive;
}
p {
 font-family:'Times New Roman', Times, serif;
}

a {
 color: lavenderblush;
}

.skills {
 font-size: 20px;
}